<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant_admin.name %>
</p>


<%= link_to 'Edit', edit_restaurant_admin_path(@restaurant_admin) %> |
<%= link_to 'Back', restaurant_admins_path %>
